/* ---------- File Details ---------- */

/*
File Creator: Weston Hood
File Creation Date: 22Feb23
Latest Revision: 23Feb23 (in progress)
File Version: v3.0
*/


/* ---------- Body ---------- */

body {
    background-image: url(images/layered-waves-haikei.svg);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}

.section-container {
    margin: 3em 1em 0em;
    background-color: rgba(21, 25, 29, 0.8);
}

/* ---------- Header ---------- */


/* ---------- Nav ---------- */

.page-index {
    /* Uncomment text below to disable link in Nav Bar */
    /*color: var(--bs-nav-link-disabled-color);
      pointer-events: none;
      cursor: default;*/
}

.page-projects {
    /* Uncomment text below to disable link in Nav Bar */
    /* color: var(--bs-nav-link-disabled-color); */
    /* pointer-events: none; */
    /* cursor: default; */
}

.page-articles {
    /* Uncomment text below to disable link in Nav Bar */
    color: var(--bs-nav-link-disabled-color);
    pointer-events: none;
    cursor: default;
}

.page-about {
    /* Uncomment text below to disable link in Nav Bar */
    color: var(--bs-nav-link-disabled-color);
    pointer-events: none;
    cursor: default;
}

.page-contact {
    /* Uncomment text below to disable link in Nav Bar */
    color: var(--bs-nav-link-disabled-color);
    pointer-events: none;
    cursor: default;
}

/* ---------- Home ---------- */

.image-container {
    position: relative;
    padding-bottom: 140%;
    /* 16:9 aspect ratio */
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-carousel {
    width: 26rem;

}

.about-me-text {
    width: 40rem;
}

/* ---------- Projects ---------- */

.project-card {
    width: 20rem;
    margin: 1em 1em 1em;
}

a.project-link {
    color: var(--bs-card-title-color);
    text-decoration: none;
}

a.project-link:hover {
    color: #ced4da;
}

/* ---------- Articles ---------- */
.article-card {
    width: 35rem;
    margin: 1em 1em 1em;
}

a.article-link {
    color: var(--bs-card-title-color);
    text-decoration: none;
}

a.article-link:hover {
    color: #ced4da;
}

p {
    text-indent: 2em;
}

/* ---------- Footer ---------- */